{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Works</h1>
          <p>Fully Functional Apps For Various Purposes. Built From Scratch For Productions.</p>
        </div>
      </div>
      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                  <div class="col-sm-4">
                      <a href="https://wepost-9fff8.firebaseapp.com/" title="" class="black-image-project-hover" target="_blank">
                        <img src="{% static 'website/assets/images/work03-hover.jpg' %}" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/009</h4>
                        <h3>Wepost: Post What You Love</h3>
                        <p><b>Powered by:</b> React, Firebase, Redux, Express</p>
                        <a href="https://wepost-9fff8.firebaseapp.com/" title="" class="btn btn-default" target="_blank">Discover</a>
                        <a href="https://github.com/Nadir817/react-wepost" title="" class="btn btn-default" target="_blank">Github</a>
                      </div>
                    </div>

                  <div class="col-sm-4">
                    <a href="http://cloudcomputingprojectfiles.s3-website-us-east-1.amazonaws.com/" class="black-image-project-hover" target="_blank">
                      <img src="{% static 'website/assets/images/work04-hover.jpeg' %}" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>002/009</h4>
                      <h3>AWS Weather Bot</h3>
                      <p><b>Powered by:</b> AWS (LEX, Lambda, CloudFormation, IAM, S3), ReactJS</p>
                      <a href="http://cloudcomputingprojectfiles.s3-website-us-east-1.amazonaws.com/" class="btn btn-default" target="_blank">Discover</a>
                    </div>
                  </div>
                  
                  <div class="col-sm-4">
                      <a href="https://github.com/CustomGames-online/CustomGames_Online" class="black-image-project-hover" target="_blank">
                        <img src="{% static 'website/assets/images/work09-hover.jpeg' %}" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>003/009</h4>
                        <h3>Custom Games</h3>
                        <p><b>Powered by:</b> React, PostgreSQL, Socket.io</p>
                        <a href="https://github.com/CustomGames-online/CustomGames_Online" title="" class="btn btn-default" target="_blank">Github</a>
                      </div>
                  </div>
                </div>
                <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                      <a href="https://nadir817.github.io/ReactProject" class="black-image-project-hover" target="_blank">
                        <img src="{% static 'website/assets/images/work06-hover.jpeg' %}" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>004/009</h4>
                        <h3>Hotel Room: Miami Resort</h3>
                        <p><b>Powered by:</b> React, SQL, Github</p>
                        <a href="https://nadir817.github.io/ReactProject" class="btn btn-default" target="_blank">Discover</a>
                        <a href="https://github.com/Nadir817/MiamiResort" title="" class="btn btn-default" target="_blank">Github</a>
                      </div>
                    </div>

                  <div class="col-sm-4">
                    <a href="https://todoist-5bc7e.firebaseapp.com/" class="black-image-project-hover" target="_blank">
                      <img src="{% static 'website/assets/images/work07-hover.jpeg' %}" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>005/009</h4>
                      <h3>Todoist Clone</h3>
                      <p><b>Powered by:</b> React</p>
                      <a href="https://todoist-5bc7e.firebaseapp.com/" class="btn btn-default" target="_blank">Discover</a>
                      <a href="https://github.com/Nadir817/todoist_clone/tree/master/Desktop/Projects/todolist-react" title="" class="btn btn-default" target="_blank">Github</a>
                    </div>
                  </div>
                   <div class="col-sm-4">
                      <a href="http://aierkennadier.com/JavaScript-To-Do-List/" class="black-image-project-hover" target="_blank">
                        <img src="{% static 'website/assets/images/work08-hover.jpeg' %}" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>006/009</h4>
                        <h3>To Do List App</h3>
                        <p><b>Powered by:</b> Vanilla JS</p>
                        <a href="https://nadir817.github.io/JavaScript-To-Do-List/" class="btn btn-default" target="_blank">Discover</a>
                        <a href="https://github.com/Nadir817/JavaScript-To-Do-List" title="" class="btn btn-default" target="_blank">Github</a>
                      </div>
                    </div>
                </div>
                <!--/row-->
            </div>
            
            <!--/item-->
            <!--/item-->
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                      <a href="https://github.com/Nadir817/DevGuys" title="" class="black-image-project-hover" target="_blank">
                        <img src="{% static 'website/assets/images/work02-hover.jpg' %}" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>007/009</h4>
                        <h3>Social App for Dev</h3>
                        <p><b>Powered by:</b> React, MangoDB, Express, Nodejs</p>
                        <a href="https://github.com/Nadir817/DevGuys" title="" class="btn btn-default" target="_blank">Github</a>
                      </div>
                    </div>
                  
                    <div class="col-sm-4">
                      <a href="https://github.com/Nadir817/real_estate_app" title="" class="black-image-project-hover" target="_blank">
                        <img src="{% static 'website/assets/images/work01-hover.jpg' %}" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>008/009</h4>
                        <h3>Real Estate App</h3>
                        <p><b>Powered by:</b> Python, Django, PostgreSQL</p>
                        <a href="https://github.com/Nadir817/real_estate_app" title="" class="btn btn-default" target="_blank">Github</a>
                      </div>
                  </div>
                  
                  <div class="col-sm-4">
                      <a href="https://github.com/Nadir817/face-detect-app/tree/master" class="black-image-project-hover" target="_blank">
                        <img src="{% static 'website/assets/images/work05-hover.jpeg' %}" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>009/009</h4>
                        <h3>Face Detection App</h3>
                        <p><b>Powered by:</b> React, Heroku, PostgreSQL</p>
                        <a href="https://github.com/Nadir817/face-detect-app/tree/master" title="" class="btn btn-default" target="_blank">Github</a>
                      </div>
                    </div>
                  
                    
                    
                    
                </div>
                <!--/row-->
            </div>
            
            <!--/item-->
        </div>
        <!--/carousel-inner--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>



    <!--/myCarousel-->
    </div>
    </div>
  </div>
</div>
{% endblock %}